:root{
    --heading: #66fcf1;
    --icon-list: #45a293;
    --text: #c5c6c7;
    --soft-bg: #1f2833;
    --hard-bg: #0b0c10;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: var(--text);
    font-family: Helvetica;
}



html{
    background-color: var(--hard-bg)    ;
    scroll-behavior: smooth;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 16px;
    position: fixed;
    background: linear-gradient(180deg, #0000001b, #000000a0);
    font-size: 0.8rem;
}

header nav ul a{
    padding:16px;
}
/* ALL CONTENT */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

section{
    margin: 20px 10px;

}

h1{
    color: var(--heading);
    font-size: 2em;
    text-align: center;
}

p{
    font-size: 0.8rem;
}

img{
    width: 300px;
}

footer{
    margin: 5px;
}

footer .contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .contact-me .footer-text span{
    color: var(--heading);
}
/* MEDIA QUERIES */
@media only screen and (min-width: 768px){
    header nav ul{
        justify-content: center;
        align-items: center;
    }

    main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section{
        width: 300px;
    }

    main section:nth-child(3), section:nth-child(4){
        width: 600px;
    }

    h1,p {
        text-align: left;
    }
}

@media only screen and (min-width: 1024px){
    header nav ul{
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    header nav ul li a:hover{
        background-color: var(--heading);
        color: black;
        border: none;
    }

    main section{
        width: 400px;
    }

    main section:nth-child(3), section:nth-child(4){
        width: 800px;
    }
}
